<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "bootstrap.min" %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag "bootstrap.min" %>

  <%# javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "coin-slider.min" %>
  <%= stylesheet_link_tag "coin-slider-styles" %>
</head>
<body>

<div class="container">
<%= yield %>
</div>

</body>
</html>